.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
}

.bold {
  font-weight: bold;
}

.block-info {
  display: flex;
}

.content {
  margin: auto;
}

.Block {
  margin-right: 30px;
}

form {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.alert {
  margin-top: 10px;
}
